@charset "UTF-8";
@font-face {
  font-family: "Bellatiez";
  src: url("../fonts/Bellatiez.ttf");
  src: local("../fonts/Bellatiez.ttf"), local("../fonts/Bellatiez.ttf"), url("../fonts/Bellatiez.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Futura";
  src: url("../fonts/FuturaMediumC.woff");
  src: local("../fonts/FuturaMediumC.woff"), local("../fonts/FuturaMediumC.woff"), url("../fonts/FuturaMediumC.woff") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
}

p {
  margin: 0;
}

:root {
  --index: calc(1vh + 1vh);
  --blue: #030357;
  --red: #ff394b;
  --bf: "Bellatiez";
}

body {
  background: #f2ece0;
}

.wrapp {
  max-width: 1600px;
  margin: 0 auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1215686275);
}

.section__title {
  font-size: 48px;
  font-family: var(--bf);
  color: var(--blue);
  text-transform: uppercase;
}
.section__title span {
  font-family: var(--bf);
}

.title__center {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.title__df {
  background: url("../images/title_bg.png") center center/contain no-repeat;
}
.title__df span {
  margin-top: 15px;
}

.title__light {
  background: url("../images/title_bg-2.png") center center/contain no-repeat;
}
.title__light span {
  margin-top: 15px;
}

.title__red {
  background: url("../images/title_bg-red.png") center center/contain no-repeat;
}
.title__red span {
  color: #fff8dd;
}

.video_reviews .title__red {
  background: url("../images/rev-red.png") center center/contain no-repeat;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 15px;
}

.main {
  background: url("../images/main.jpg") center center/cover no-repeat;
  min-height: 80vh;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  margin: 0 auto;
  height: 100px;
  width: 100%;
  max-width: 1600px;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1000;
}
.header .container {
  padding: 0;
}

.header__field {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__mob {
  display: none;
}

.header__logo {
  background: url("../images/logo.svg") center center/contain no-repeat;
  padding: 50px;
}

.header__menu .menu__item {
  font-size: 16px;
  margin: 10px;
  text-decoration: none;
  color: var(--blue);
  position: relative;
  padding-bottom: 10px;
  border-radius: 5px;
}
.header__menu .menu__item::before {
  content: "";
  position: absolute;
  transition: 0.3s;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
  height: 5px;
  width: 5px;
  border-radius: 100%;
  background: #030357;
  opacity: 0;
}
.header__menu .menu__item:hover::before {
  opacity: 1;
}
.header__menu .menu__item-email {
  font-weight: 500;
  text-decoration: underline;
}

.main__content-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25%;
  flex-wrap: wrap;
}
.main__content-title img {
  width: 100%;
  max-width: 808px;
}

.main__content-button {
  display: flex;
  justify-content: center;
  margin-top: -65px;
}

.main__content-button-a {
  background: url("../images/button.png") center center/contain no-repeat;
  padding: 30px;
  flex-basis: 340px;
}

.bg_w {
  background: url("../images/bg_w.jpg") center center/cover;
  padding: 30px;
  background-position-y: center;
}

.top__order-field {
  background: url("../images/top_order_field.jpg") center center/cover no-repeat;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.top__order-field .top__order-box {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 320px;
  max-width: 320px;
  margin: 0 80px 0 100px;
}
.top__order-field .top__order-content {
  text-align: center;
}
.top__order-field .top__order-content .top__order-oldprice {
  font-family: var(--bf);
  color: var(--blue);
  font-size: 32px;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: -20px;
}
.top__order-field .top__order-content .top__order-oldprice span {
  font-family: var(--bf);
  font-size: 18px;
}
.top__order-field .top__order-content .top__order-oldprice::before {
  content: "";
  position: absolute;
  background: var(--red);
  width: 100%;
  height: 3px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.top__order-field .top__order-content .top__order-price {
  font-family: var(--bf);
  color: var(--red);
  font-size: 72px;
  text-transform: uppercase;
}
.top__order-field .top__order-content .top__order-price span {
  font-size: 46px;
  font-family: var(--bf);
}
.top__order-field .top__order-content .top__order-button {
  background: #ff384a;
  background: linear-gradient(275.76deg, #ff384a 44.33%, #ff655e 98.56%);
  border-radius: 10px;
  padding: 15px 50px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 32px;
  box-shadow: 0px 5.90398px 5.90398px rgba(51, 26, 27, 0.07);
}
.top__order-field .top__order-content .top__order-date {
  font-size: 16px;
  color: var(--blue);
  opacity: 0.75;
  margin-top: 10px;
}
.top__order-field .top__order-content .top__order-date span {
  color: var(--blue);
  font-weight: 500;
}

.about {
  background: #262b81;
  padding: 50px 0;
}
.about .section__title {
  color: #ffe1ac;
}
.about .about__content {
  width: 50%;
}
.about .about__content .about__text {
  color: #fff;
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
}
.about .about__items {
  display: flex;
  margin-top: 30px;
}
.about .about__items .about__item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 2px solid #fff;
  margin-right: 20px;
}
.about .about__items .about__item img {
  margin-right: 10px;
  -o-object-fit: contain;
     object-fit: contain;
  width: 25px;
}
.about .about__items .about__item p {
  color: #fff;
  font-size: 18px;
}
.about .about__items .about__item:last-child {
  margin: 0;
}
.about .about__field {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.about .about__field::before {
  content: "";
  position: absolute;
  background: url("../images/deer.png") center center/contain no-repeat;
  left: -80px;
  top: 0;
  padding: 80px;
}

.box {
  position: relative;
}
.box .container {
  position: relative;
}
.box .airplane {
  background: url("../images/airplane.png") center center/contain no-repeat;
  padding: 200px;
  top: -160px;
  left: 0;
  position: absolute;
}

.inside__box-item {
  background: rgba(231, 223, 207, 0.9);
  border-radius: 10px;
  padding: 30px;
  box-sizing: border-box;
  margin-bottom: 20px;
  box-shadow: 0px 5.90398px 5.90398px rgba(51, 26, 27, 0.07);
}
.inside__box-item .inside__box-title {
  font-family: var(--bf);
  text-transform: uppercase;
  font-size: 30px;
  color: #000;
}
.inside__box-item .inside__box-title span {
  color: #030357;
  font-family: var(--bf);
  font-size: 36px;
}
.inside__box-item .inside__box-title-desc {
  font-family: var(--bf);
  font-size: 16px;
  color: #000;
}
.inside__box-item .inside__box-image {
  width: 100%;
  display: inline-block;
  position: relative;
  -o-object-fit: contain;
     object-fit: contain;
}

.x4-mark {
  position: relative;
}
.x4-mark::before {
  background: url("../images/х4.png") center center/contain no-repeat;
  padding: 15px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.title__margin {
  margin-bottom: 40px;
}

.span__second .inside__box-title {
  font-size: 21px;
  display: flex;
  align-items: center;
}
.span__second .inside__box-title span {
  margin-right: 10px;
  color: #257ea3;
}
.span__second .inside__box-image {
  max-height: 50px;
}

.span__third .inside__box-title {
  font-size: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.span__third .inside__box-title span {
  margin-right: 10px;
  color: #ff384a;
}
.span__third .inside__box-item-sm {
  text-align: center;
}

.inside__box-flex {
  display: flex;
}

.inside__box-item-sm {
  margin-bottom: 40px;
}

.how_play {
  background: #f2ece0;
  padding: 50px 0;
}

.how__play-item {
  margin-bottom: 40px;
}
.how__play-item img {
  -o-object-fit: contain;
     object-fit: contain;
}
.how__play-item .how__play-text {
  font-size: 16px;
  padding: 15px 30px;
  box-sizing: border-box;
}
.how__play-item .how__play-img-main {
  width: 100%;
  max-width: 550px;
}
.how__play-item .how__play-img-num {
  width: 100%;
  max-width: 110px;
}

.rules {
  background: #5358a0;
  position: relative;
  z-index: 10;
  padding: 100px 0;
}
.rules::before {
  content: "";
  position: absolute;
  background: url("../images/rules_top.png") center center/cover;
  top: -120px;
  width: 100%;
  left: 0;
  right: 0;
  height: 150px;
}
.rules::after {
  content: "";
  position: absolute;
  background: url("../images/rules_bottom.png") center center/cover;
  bottom: -120px;
  width: 100%;
  left: 0;
  right: 0;
  height: 150px;
}

.rules__content {
  background: url("../images/rules.png") center center/contain no-repeat;
  padding: 10px;
  width: 100%;
  max-height: 530px;
  height: 530px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
.rules__content::before {
  content: "";
  transform: 0.2s;
  position: absolute;
  background: url("../images/rules_box.png") center center/contain no-repeat;
  top: 0;
  right: 0;
  padding: 200px;
}

.rules__title {
  font-family: var(--bf);
  font-size: 64px;
  text-transform: uppercase;
  color: #fff8dd;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.431372549);
}

.rules__link {
  background: #f2ece0;
  text-decoration: none;
  font-size: 24px;
  padding: 10px 25px;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 20px;
  color: var(--blue);
}

.rules__content-sm {
  display: none;
}

.why_play {
  padding-top: 100px;
  background: #f2ece0;
  position: relative;
}
.why_play::before {
  content: "";
  position: absolute;
  background: url("../images/compass.png") center right/contain no-repeat;
  top: 100px;
  right: 0;
  padding: 200px;
}
.why_play .why__content {
  display: flex;
  align-items: center;
}
.why_play .why__img {
  background: url("../images/portret.png") center center/contain no-repeat;
  padding: 150px;
  margin-right: 10px;
}
.why_play .why__text {
  padding-right: 160px;
}
.why_play .why__text p {
  font-size: 18px;
  line-height: 24px;
  margin: 20px 0;
}

.main-carousel {
  position: relative;
  margin: 20px 0;
}
.main-carousel .slick-track {
  display: flex;
  align-items: center;
}
.main-carousel::before {
  content: "";
  position: absolute;
  left: -5px;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 300px;
  background: #f2ece0; /* fallback for old browsers */
  background: -webkit-linear-gradien(90deg, rgb(242, 236, 224) 0%, rgb(242, 236, 224) 35%, rgba(242, 236, 224, 0) 100%); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(90deg, rgb(242, 236, 224) 0%, rgb(242, 236, 224) 35%, rgba(242, 236, 224, 0) 100%);
  z-index: 10;
}
.main-carousel::after {
  content: "";
  position: absolute;
  right: -5px;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 300px;
  background: #f2ece0; /* fallback for old browsers */
  background: -webkit-linear-gradien(270deg, rgb(242, 236, 224) 0%, rgb(242, 236, 224) 35%, rgba(242, 236, 224, 0) 100%); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(270deg, rgb(242, 236, 224) 0%, rgb(242, 236, 224) 35%, rgba(242, 236, 224, 0) 100%);
  z-index: 10;
}
.main-carousel .carousel-cell {
  transition: 0.2s;
  padding: 10px;
  box-sizing: border-box;
}
.main-carousel .carousel-cell img {
  box-shadow: 2px 3px 9px 0px rgba(34, 34, 34, 0.4196078431);
  border-radius: 30px;
  width: 100%;
  max-width: 370px;
  transition: 0.3s;
  margin: 0 auto;
}
.main-carousel .slick-active.slick-center img {
  max-width: 480px;
}
.main-carousel .slick-next:before,
.main-carousel .slick-prev:before {
  color: #030357;
  font-size: 30px;
}
.main-carousel .slick-next {
  right: 25px !important;
  z-index: 100;
}
.main-carousel .slick-next::before {
  content: "";
  background: url("../images/arrow-right-circle.png") center center/contain no-repeat;
  padding: 20px;
}
.main-carousel .slick-prev {
  left: 25px !important;
  z-index: 100;
}
.main-carousel .slick-prev::before {
  content: "";
  background: url("../images/arrow-left-circle.png") center center/contain no-repeat;
  padding: 20px;
}

.blue-bg {
  background: url("../images/blue-bg.png") center center/auto repeat;
  margin: 20px 0;
  border-radius: 10px;
  padding: 40px 20px;
  box-sizing: border-box;
  position: relative;
  box-shadow: 2px 3px 9px 0px rgba(34, 34, 34, 0.4196078431);
}
.blue-bg::before {
  content: "";
  position: absolute;
  background: url("../images/yellow.png") center center/contain no-repeat;
  padding: 100px;
  top: 0;
  right: 20px;
}

.review-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.review-item {
  display: flex;
  align-items: center;
  max-width: 800px;
  width: 100%;
  margin: 20px 0;
}
.review-item img {
  width: 100%;
  max-width: 150px;
  -o-object-fit: contain;
     object-fit: contain;
}
.review-item .review-content {
  margin: 0 20px;
}
.review-item .review-content .review-name {
  font-family: "Futura";
  color: #ebd599;
  font-size: 24px;
}
.review-item .review-content .review-text {
  color: #fff;
  font-size: 18px;
}
.review-item:nth-child(even) .review-name {
  text-align: right;
}
.review-item:nth-child(even) .review-text {
  color: #fff;
  font-size: 18px;
  text-align: right;
}

.video_reviews {
  padding: 30px;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.video_reviews .container {
  z-index: 1;
  position: relative;
}
.video_reviews::before {
  content: "";
  position: absolute;
  background: url("../images/airplane-lg.png") center center/contain no-repeat;
  top: 0;
  right: -150px;
  padding: 150px 300px;
}
.video_reviews::after {
  content: "";
  position: absolute;
  background: url("../images/verevki.png") center center/cover no-repeat;
  top: 30%;
  left: 0;
  right: 0;
  width: 100%;
  padding: 200px;
  z-index: 0;
}

.video-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.video-items .video-item {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.video-items .video-item .video-frame {
  display: flex;
  justify-content: center;
  width: 100%;
}
.video-items .video-item .video-frame iframe {
  border-radius: 10px;
  box-shadow: 2px 3px 9px 0px rgba(34, 34, 34, 0.4196078431);
}
.video-items .video-item .video-bottom {
  margin-top: 15px;
  max-width: 450px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e4d8c3;
  flex-wrap: wrap;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
}
.video-items .video-item .video-bottom img {
  width: 100px;
  background-size: contain;
  -o-object-fit: contain;
     object-fit: contain;
}
.video-items .video-item .video-bottom .video-title {
  margin-left: 15px;
  font-size: 24px;
  font-family: var(--bf);
  color: #030357;
}
.video-items .video-item .video-bottom .video-title span {
  font-size: 18px;
  display: block;
  line-height: 15px;
}

.sites {
  margin: 20px 0;
  background: url("../images/bg-2.jpg") top center/cover no-repeat;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}
.sites .title__sites {
  background: url("../images/title-sites.png") center center/contain no-repeat;
}

.delivery {
  margin: 20px 0;
}
.delivery .title__delivery {
  background: url("../images/title-delivery.png") center center/contain no-repeat;
}
.delivery * {
  font-family: "Futura";
}
.delivery .delivery-items {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.delivery .delivery-items .delivery-item {
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
}
.delivery .delivery-items .delivery-item .delivery-title {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.order {
  background: url("../images/order.png") center center/contain no-repeat;
  padding: 20px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin: 20px 0;
  align-items: center;
  height: 890px;
}
.order .order-items {
  display: flex;
  max-width: 700px;
  flex-wrap: wrap;
  width: 100%;
}
.order .order-items .order-left {
  background: #ff394c;
  padding: 40px 20px;
  box-sizing: border-box;
  width: 50%;
  border-radius: 10px;
}
.order .order-items .order-left .order-price {
  text-align: center;
}
.order .order-items .order-left .order-price p {
  color: #ffeab1;
  font-family: "Futura";
  font-size: 48px;
}
.order .order-items .order-left .order-price span {
  color: #fff;
  font-size: 14px;
}
.order .order-items .order-right {
  background: rgba(242, 236, 224, 0.8705882353);
  padding: 40px 20px;
  width: 50%;
  box-sizing: border-box;
  max-width: 600px;
  border-radius: 10px;
}
.order .order-items .order-right .order-price {
  text-align: center;
}
.order .order-items .order-right .order-price p {
  color: #403f3f;
  font-family: "Futura";
  font-size: 48px;
}
.order .order-items .order-right .order-price span {
  color: #403f3f;
  font-size: 14px;
}

.order-btn-field {
  display: flex;
  justify-content: center;
  width: 100%;
}
.order-btn-field .order-btn {
  background: #ff384a;
  padding: 10px 40px;
  box-sizing: border-box;
  color: #fff;
  font-size: 30px;
  margin-top: 20px;
  text-decoration: none;
  font-weight: 300;
  transition: 0.2s;
  border-radius: 5px;
  background: linear-gradient(275.76deg, #ff384a 44.33%, #ff655e 98.56%);
}
.order-btn-field .order-btn:hover {
  box-shadow: 0 0 30px rgba(255, 56, 73, 0.6156862745);
}

.site-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.site-items .site-item {
  width: 30%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  color: #030357;
  justify-content: center;
  flex-wrap: wrap;
}
.site-items .site-item div {
  display: block;
  width: 100%;
  text-align: center;
  color: #030357;
  font-size: 24px;
  font-family: "Futura";
  margin-top: 10px;
}

footer * {
  font-family: "Futura";
}

.footer-top {
  background: #decdbc;
  padding: 15px 0;
}
.footer-top p {
  font-size: 21px;
}

.socials {
  display: flex;
}

.icons {
  display: flex;
  justify-content: center;
  margin-left: 20px;
}
.icons .inst {
  background: url("../images/INST.svg") center center/contain no-repeat;
  padding: 20px;
}
.icons .vk {
  background: url("../images/VK.svg") center center/contain no-repeat;
  padding: 20px;
  margin: 0 10px;
}
.icons .fb {
  background: url("../images/FB.svg") center center/contain no-repeat;
  padding: 20px;
}

.footer-bottom {
  background: #d5c0ac;
  padding: 15px 0;
}
.footer-bottom * {
  text-align: center;
}
.footer-bottom p {
  font-family: "Futura";
  font-size: 18px;
}

.footer-links a {
  color: #000;
  font-size: 18px;
  margin-right: 20px;
}

@media (max-width: 1315px) {
  .rules__content::before {
    padding: 160px;
  }
  .order {
    height: 730px;
  }
}
@media (max-width: 1180px) {
  .main {
    min-height: 70vh;
  }
  .order {
    height: 650px;
  }
  .rules__content::before {
    padding: 115px;
  }
  .header__field {
    display: none;
  }
  .header {
    height: auto;
  }
  .header__logo {
    padding: 35px;
  }
  .header__mob {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
  }
  .header__mob .menu__burger span {
    display: block;
    width: 40px;
    height: 3px;
    margin: 7px 0;
    background: #030357;
  }
  .menu__open {
    position: fixed;
    display: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99999;
  }
  .menu__open .menu-right {
    box-shadow: 2px 3px 9px 0px rgba(34, 34, 34, 0.4196078431);
    background: #f2ece0;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    max-width: 300px;
    width: 100%;
  }
  .menu__open .menu-right .header__menu {
    padding: 20px;
    margin-top: 20px;
    box-sizing: border-box;
  }
  .menu__open .menu-right .header__menu a {
    display: block;
    color: #030357;
    border-radius: 0;
    border-bottom: 1px solid #030357;
  }
  .menu__open .menu-right .header__menu a:hover::before {
    display: none;
  }
  .menu__open .menu-right .menu-close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 20px 10px;
  }
  .menu__open .menu-right .menu-close span {
    display: block;
    width: 20px;
    height: 2px;
    transform: rotate(-45deg);
    background: #030357;
  }
  .menu__open .menu-right .menu-close span:nth-child(2) {
    transform: rotate(45deg);
    position: relative;
    right: 0px;
    top: -2px;
  }
  .menu__open.active {
    display: block;
  }
  .header__menu .menu__item {
    margin: 10px 5px;
  }
  .about .about__field::before {
    display: none;
  }
  .airplane {
    display: none;
  }
}
@media (max-width: 992px) {
  .main {
    min-height: 70vh;
  }
  .order {
    height: 480px;
  }
  .sites .title__sites {
    font-size: 34px;
  }
  .video-title {
    width: 100%;
    text-align: center;
  }
  .main-carousel {
    position: relative;
    margin: 20px 0;
  }
  .main-carousel .slick-track {
    display: flex;
    align-items: center;
  }
  .main-carousel::before {
    display: none;
  }
  .main-carousel::after {
    content: "";
    position: absolute;
    right: -5px;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 300px;
    background: #f2ece0; /* fallback for old browsers */
    background: -webkit-linear-gradien(270deg, rgb(242, 236, 224) 0%, rgb(242, 236, 224) 35%, rgba(242, 236, 224, 0) 100%); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(270deg, rgb(242, 236, 224) 0%, rgb(242, 236, 224) 35%, rgba(242, 236, 224, 0) 100%);
    z-index: 10;
  }
  .main-carousel .slick-prev {
    display: none !important;
  }
  .main-carousel .carousel-cell img {
    margin: 0;
  }
  .why_play .why__content {
    flex-wrap: wrap;
    justify-content: center;
  }
  .why_play::before {
    display: none;
  }
  .why_play .why__img {
    background: url("../images/airplane_red.png") center center/contain no-repeat;
    padding: 100px 120px;
    margin-right: 0;
  }
  .video_reviews .why__img {
    display: none;
  }
  .why_play .why__text {
    padding-right: 0;
  }
  .top__order-box {
    display: none;
  }
  .top__order-field {
    justify-content: center;
    background: url("../images/top_order_field-mob.jpg") center center/cover no-repeat;
  }
  .about .about__field {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  .about .about__field .about__content {
    width: 100%;
  }
  .about__box img {
    width: 100%;
  }
  .about .about__items .about__item {
    padding: 5px;
  }
  .about .about__items .about__item p {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .main {
    background-position: left center;
    display: flex;
    align-items: center;
  }
  .main__content-button {
    margin-top: 0;
  }
  .order {
    height: 430px;
  }
  .sites .title__sites {
    background: none;
  }
  .site-items .site-item {
    width: 100%;
    margin: 20px 0;
  }
  .video-items .video-item {
    width: 100%;
  }
  .video-items .video-item .video-bottom .video-title {
    margin-left: 0;
  }
  .title__margin {
    margin-bottom: 20px;
  }
  .rules {
    padding: 20px 0 40px;
  }
  .review-item {
    flex-wrap: wrap;
    justify-content: center;
  }
  .review-item .review-content {
    margin: 0;
    margin-top: 15px;
    width: 100%;
  }
  .review-item .review-content * {
    text-align: left;
  }
  .review-item .review-content .review-name {
    font-size: 18px;
  }
  .review-item .review-content .review-text {
    font-size: 16px;
  }
  .review-item:nth-child(even) {
    flex-flow: column-reverse;
  }
  .review-item:nth-child(even) * {
    text-align: left !important;
  }
  .blue-bg::before {
    display: none;
  }
  .rules__content {
    display: none;
  }
  .rules__content-sm {
    display: block;
  }
  .rules__content-sm .rules__main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .rules__content-sm .rules__title {
    text-align: center;
    font-size: 32px;
    width: 100%;
    margin: 20px 0;
  }
  .rules__content-sm .rules__link {
    display: block;
    width: 100%;
    text-align: center;
  }
  .section__title {
    font-size: 24px;
    font-family: var(--bf);
    color: var(--blue);
    text-transform: uppercase;
  }
  .section__title span {
    font-family: var(--bf);
  }
  .title__df span {
    margin-top: 5px;
  }
  .how__play-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .how__play-item .how__play-img-main {
    margin: 20px auto;
  }
  .how__play-item .how__play-text {
    text-align: center;
  }
  .how__play-item .how__play-img-num {
    max-width: 60px;
  }
  .how__play-img-num-flex {
    display: flex;
    justify-content: center;
  }
  .order .order-items .order-right,
.order .order-items .order-left {
    padding: 10px;
  }
  .order .order-items .order-right .order-price p,
.order .order-items .order-left .order-price p {
    font-size: 30px;
  }
  .socials {
    margin-bottom: 20px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .socials .icons {
    width: 100%;
    margin-top: 15px;
  }
  .footer-top {
    text-align: center;
  }
  .footer-links a {
    text-align: center;
    width: 100%;
    display: block;
    margin: 15px 0;
  }
}
@media (max-width: 576px) {
  .video_reviews {
    padding-top: 10px !important;
  }
  .reviews {
    padding: 0;
  }
  .reviews .blue-bg {
    border-radius: 0;
  }
  .reviews .container {
    padding: 0;
  }
  .order {
    background: url("../images/order.png") center center/cover no-repeat;
  }
  .main-carousel {
    position: relative;
    margin: 20px 0;
  }
  .main-carousel .slick-track {
    display: flex;
    align-items: center;
  }
  .main-carousel::before {
    display: none;
  }
  .main-carousel::after {
    content: "";
    position: absolute;
    right: -5px;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 150px;
    background: #f2ece0; /* fallback for old browsers */
    background: -webkit-linear-gradien(270deg, rgb(242, 236, 224) 0%, rgba(242, 236, 224, 0.692) 15%, rgba(242, 236, 224, 0) 100%); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(270deg, rgb(242, 236, 224) 0%, rgba(242, 236, 224, 0.692) 15%, rgba(242, 236, 224, 0) 100%);
    z-index: 10;
  }
  .main-carousel .slick-prev {
    display: none !important;
  }
  .main-carousel .carousel-cell img {
    margin: 0 auto;
    margin-left: 20px;
  }
  .top__order-field .top__order-content .top__order-price {
    font-size: 48px;
  }
  .about .about__items .about__item {
    padding: 5px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .about .about__items .about__item .about__item-icon {
    margin: 0;
    margin-bottom: 5px;
  }
  .about .about__items .about__item p {
    font-size: 14px;
  }
  .inside__box-item {
    background: none;
    box-shadow: none;
    padding: 0;
  }
  .inside__box-item-sm_2 {
    margin-bottom: 40px;
  }
  .inside__box-item-sm_2:nth-last-child {
    margin-bottom: 0;
  }
  .inside__box-item .inside__box-title {
    font-size: 24px;
  }
  .delivery .delivery-items .delivery-item {
    width: 100%;
    padding: 15px;
  }
}
@media (max-width: 450px) {
  .order .order-items .order-right,
.order .order-items .order-left {
    margin: 10px;
    width: 100%;
  }
  .sites .title__sites {
    background: url("../images/title-sites-mob.png") center center/cover no-repeat;
  }
  .sites .title__sites span {
    color: #e4d8c3;
    font-size: 20px;
    padding: 0 20px;
  }
  .about .about__items .about__item .about__item-icon {
    margin-bottom: 0 !important;
    margin-right: 5px;
    margin-top: 3px;
  }
  .inside__box-item .inside__box-title {
    font-size: 18px;
  }
  .inside__box-item .inside__box-title span {
    font-size: 20px;
  }
  .top__order-field .top__order-content .top__order-price {
    font-size: 36px;
  }
  .top__order-field .top__order-content .top__order-price span {
    font-size: 36px;
  }
  .title__df {
    background: none;
  }
  .why_play {
    padding-top: 50px;
  }
  .title__light {
    background: url("../images/mob-df.png") center center/contain no-repeat;
  }
  .title__light span {
    color: #030357;
    margin-top: 5px;
  }
  .title__red {
    background: url("../images/mob-red.png") center center/contain no-repeat;
    margin-bottom: 10px;
    padding: 10px 0;
  }
  .title__red span {
    color: #fff8dd;
    padding: 0 40px;
  }
  .title__red-2 {
    background: url("../images/mob-red-2.png") center center/contain no-repeat;
  }
}
@media (max-width: 330px) {
  .site-items .site-item div {
    font-size: 18px;
  }
}/*# sourceMappingURL=style.css.map */